# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = zhihusite.settings

[deploy]
url = http://123.206.9.72:6800/addversion.json
project = zhihusite
