html {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

html, body {
  height: 100%;
  background-color: #eff0f4;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.align_center {
  text-align: center;
}

.align_left {
  text-align: left;
}

.align_right {
  text-align: right;
}

.ofh {
  overflow: hidden;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.m_auto {
  margin: auto;
}

.width_100 {
  width: 100%;
}

.height_100 {
  height: 100%;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.d_box {
  display: flex;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
}

.d_boxflex {
  flex: 1;
  display: block;
}
