::-webkit-scrollbar-track-piece {
  width: 6px;
  background: #424f63;
  border: 0;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border: 0;
  background: #424f63;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #65cea7;
  border: 0;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #57be98
}
