@charset "utf-8";

//reset
@import "./components/_reset";
//base
@import "./components/_base";
//animation
@import "./components/_animation";
//start_loading
@import "./components/_start_loading";
//dialog
@import "./components/_dialog";
//scroll
@import "./components/_scroll-bar";
//Layout 布局
@import "./components/_layout";
//素材布局
@import "./components/_media";

