# Created by .ignore support plugin (hsz.mobi)
/.idea
/.vscode
/.vagrant
*.pyc
/gerapy.egg-info
/dist
/build
npm-debug.log
/test
/tests
/gerapy/server/.idea/
/logs/
/gerapy/.idea
/gerapy/logs/
gerapy/server/logs/
db.sqlite3
install.sh
*.pyc
.venv