apscheduler>=3.5.1
cryptography>=2.1.1
django>=1.11
django-cors-headers
django-apscheduler>=0.2.9
furl
jinja2
scrapy>=1.4.0
scrapy-redis==0.6.8
scrapy-splash
python-scrapyd-api
redis
requests>=2.14.0
pymongo>=3.2.0
pymysql>=0.7.10
pyquery
beautifulsoup4>=4.7.0
djangorestframework == 3.9.2
websocket
pyppeteer