# -*- coding: utf-8 -*-
from scrapy.linkextractors import LinkExtractor
from gerapy.spiders import CrawlSpider
from scrapy.spiders import Rule


class $classname(CrawlSpider):

    name = '$name'

    allowed_domains = $allowed_domains

    rules = $rules

    $attrs

    $extra_codes

    $methods
