cryptography>=2.1.1
docopt
django>=1.11
django-cors-headers
jinja2
scrapy>=1.4.0
scrapy-redis==0.6.8
scrapy-splash
python-scrapyd-api
redis
requests>=2.14.0
pymongo>=3.2.0
pymysql
selenium
setproctitle
apscheduler
DbUtils
pika
celery[redis,auth,msgpack]
gerapy
apscheduler>=3.5.1
django-apscheduler>=0.2.3
